{
  "parser": "babel-eslint",
  "env": {
    "jest": true,
    "browser": true
  },
  "extends": "airbnb",
  "plugins": [
    "react",
    "jsx-a11y",
    "import"
  ],
  "rules" : {
    "linebreak-style": "off",
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "comma-dangle": "off",
    "import/prefer-default-export": "off",
    "arrow-parens": "off",
    "react/jsx-one-expression-per-line" : "off"
  }
}
